.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #787878;
    background: #1E1E1E;

    a {
        text-decoration: none;
        color: #787878;
        font-weight: 700;
    }

    .leftSideOfHeader {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        img {
            width: 15rem;
        }

        .navigationOptions{
            margin-left: 2rem;

            .option {
                margin-right: 2rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 1px solid #787878;
        background: #1E1E1E;
    
        a {
            text-decoration: none;
            color: #787878;
            font-weight: 700;
            font-size: .5rem;
        }
    
        .leftSideOfHeader {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            img {
                width: 5rem;
            }
    
            .navigationOptions{
                margin-left: 2rem;
    
                .option {
                    margin-right: 1.5rem;
                }
            }
        }
    }
}